:root {
    --sand:#F7E9D4;
    --raspberrySorbet:#d2386c; 
     --orange:#ffa500; 
     --navy: #000080;
     --orchid:#ccccff; 
     --amethystOrchid: #926aa6;
     --milkchocolate: #996633;
     --dark:#000000;
  }

  .yarl__slide_title {
    color: var(--yarl__slide_title_color, var(--marigold));
    text-shadow: 2px 2px 6px var(--orange);
    font-size: 14px; 
  }
  

 a:link {
    color: var(--orchid);
    text-shadow: 4px 4px 7px var(--amethystOrchid);  
}

a:hover {
    color: var(--marigold);
    text-shadow: 4px 4px 7px var(--orange);  
}

a:active {
    color: var(--cerulean);
    text-shadow: 4px 4px 7px var(--navy);  
}

a:focus {
    color: var(--blush);
    text-shadow: 4px 4px 7px var(--raspberrySorbet);  

}