.carousel-wrapper {
    width: 100%;
    height: 100vh;
    position:relative;
}

.slides {
    background-color: var(--dark);
    text-align: center;
    max-height: 100vh;
    width: 100%;
    position: flex;
}

#slideContainer{
    min-height: 100vh;

}


