:root {
  --lavender: #e6ccff;
  --sea:#e6ffe6;
  --thinMint:#E3F7D4;
  --mint:#99ffcc;
  --seaGreen:#33ff77;
  --forest:#004d26;
  --green: #009933;
  --grass: #208000;
  --palepink: #ffe6e6;
  --blush:#ffccff;
  --rose:#ff9999;
  --raspberrySorbet:#d2386c;
  --fire:#ff0000;
  --rusty:#b30000;
  --palegold:#fffbe6;
  --marigold:#ffe4b3;
  --cornsilk: #ffffb3;
  --whitegold:#ffff80;
  --yellow:#ffff1a;
  --illuminating:#f5df4d;
  --gold:#ffd700;
  --orange:#ffa500;
  --pale:#ffffff;
  --sky:#b3daff;
  --cerulean:#9bb7d4;
  --auqa:#00b3b3;
  --royal:#0066ff;
  --ocean: #3377ff;
  --navy: #000080;
  --greenAsh:#a0daa9;
  --thistle:#EFD4F7;
  --lilac:#e6e6ff;
  --lavender:#ccb3ff;
  --orchid:#ccccff;
  --amethystOrchid: #926aa6;
  --violet: #7733ff;
  --purple:#990099;
  --darkpurple: #730099;
  --eggplant:#4d004d;
  --sand:#F7E9D4;
  --beige:#ffe6cc;
  --cafeaulait: #d9b38c;
  --milkchocolate: #996633;
  --warmchocolate:#804000;
  --mist: #cccccc;
  --fog: #bfbfbf;
  --misty:#999999;
  --slate:#413f3f;
  --smoke:#404040;
  --dark:#000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--sand) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
  color: var(--forest);
  text-shadow: 4px 4px 7px var(--mint);
  font-size: 100px;
  font-weight: bolder;
  text-align: center;
}

nav {

  width: 100%;
  overflow: auto;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

nav a {
  padding: 30px;
  width: 33.33%;
  text-align: center;
  color: var(--mint);
  text-shadow: 1.5px 1.5px 1.5px var(--forest)
}

nav a:hover{
  color: var(--blush);
  text-shadow: 1.5px 1.5px 1.5px var(--raspberrySorbet)
}

nav a:focus {
  color: var(--orchid);
  text-shadow: 1.5px 1.5px 1.5px var(--amethystOrchid);
}

nav a:active {
  color: var(--palegold);
  text-shadow: 1.5px 1.5px 1.5px var(--gold);
}